<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="a15.group.lab4">

    <uses-sdk
        android:minSdkVersion="15"
        tools:overrideLibrary="com.firebase.ui.auth" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityAddUserInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity
            android:name=".UserActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity
            android:name=".UserFragmentShowRestaurants"
            android:label="Restaurants"
            android:parentActivityName=".UserActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".UserFragmentShowOffers"
            android:label="Offers"
            android:parentActivityName=".UserActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".UserFragmentShowReservations"
            android:label="Reservations"
            android:parentActivityName=".UserActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".UserActivityShowOfferDetails"
            android:label="@string/title_show_offer_details"
            android:parentActivityName=".UserActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".UserActivityShowReservationDetails"
            android:label="@string/title_show_reservation_details"
            android:parentActivityName="UserActivityShowReservationDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".UserActivityRestaurantProfile"
            android:label="Restaurant Profile"
            android:parentActivityName=".UserActivityRestaurantProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".UserActivityShowUserProfile"
            android:label="Profile"
            android:parentActivityName=".UserActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivityMain" />
        </activity>
        <activity
            android:name=".OwnerActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity
            android:name=".OwnerActivityRestaurantProfile"
            android:label="Restaurant Profile"
            android:parentActivityName=".OwnerActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerActivityMain" />
        </activity>
        <activity
            android:name=".OwnerActivityEditRestaurantProfile"
            android:label="Edit Restaurant Profile"
            android:parentActivityName=".OwnerActivityRestaurantProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerActivityRestaurantProfile" />
        </activity>
        <activity
            android:name=".OwnerActivityShowOffers"
            android:label="Show Offers"
            android:parentActivityName=".OwnerActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerActivityMain" />
        </activity>
        <activity
            android:name=".OwnerActivityAddOffer"
            android:label="Add Offer"
            android:parentActivityName=".OwnerActivityShowOffers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerActivityShowOffers" />
        </activity>
        <activity
            android:name=".OwnerActivityModifyOffer"
            android:label="Modify Offer"
            android:parentActivityName=".OwnerActivityShowOffers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnerActivityShowOffers" />
        </activity>
    </application>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBWRtUFgbhys7aX2hRw4kgOuPxotTRlJok"/>

</manifest>